<h1>This is the Model's index page.</h1>

<% @runs.each do |run| %>
<a href="/runs/<%=run.id %>"><%= Time.at(run.date).strftime('%m/%d/%Y') %> - <%= run.distance %> Miles - <%= run.duration %> Minutes - <%= run.pace %></a>
<br><br>
<% end %>