<div class="row justify-content-center">
    <div class="col-md-5 text-center">
        <div class="card mb-3 sticky-top">
            <div class="row">
                <div class="col">
                    <h4 class="card-title mb-0"> <%= current_user.username %> </h4>
                    <small><%= current_user.email%></small>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="mb-0"><%= @runs.where(:pace => "Run").count %></h2>
                    Runs
                </div>
                <div class="col">
                    <h4 class="mb-0"><%= @runs.where(:pace => "Jog").count %></h2>
                    Jogs
                </div>
                <div class="col">
                    <h4 class="mb-0"><%= @runs.where(:pace => "Walk").count %></h2>
                    Walks
                </div>
                <div class="col">
                    <h4 class="mb-0"><%= @runs.where(:pace => "Intervals").count %></h2>
                    Ints
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 order-2 order-md-first">
        <% @runs.each do |run| %>
            <div class="card mx-auto">
                <div class="card-header <%= run.pace.downcase %>">
                    <img src="/images/<%= run.pace.downcase %>.png"> <%= run.pace %>
                    <span class="float-right"><%= Time.at(run.date).strftime('%m/%d/%Y') %></span>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col">
                            <strong><%= Time.at(run.duration.to_i).utc.strftime('%H:%M:%S') %></strong><br>
                            <small>Duration</small>
                        </div>
                        <div class="col">
                            <strong><%= run.distance %></strong><br>
                            <small>Miles</small>
                        </div>
                    </div>
                </div>
            <a href="/runs/<%= run.id %>" class="stretched-link"></a>
            </div>
        <% end %>
    </div>
</div>

