<h1>Run Stats</h1>

<p>
<%= Time.at(@run.date).strftime('%m/%d/%Y') %><br><br>
Distance: <%= @run.distance %> Miles<br>
Time: <%= Time.at(@run.duration).utc.strftime('%H:%M:%S') %><br>
Pace: <%= @run.pace %><br><br>

Your average speed was <%=@run.avg_speed%> MPH.
</p>

<a href="/runs/<%= @run.id %>/edit"><button>Edit</button></a>

<form action="/runs/<%= @run.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

